/* @import '../styles/colors'; */

.comic-view {
    position: relative;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    overflow: hidden;
}

.comic-view .comic-view-sprite[id] {
    transition: 250ms all;
}

.comic-view .comic-view-sprite {
    position: absolute;
}

.comic-view .comic-view-sprite.flip-x {
    transform: scaleX(-1);
}

.comic-view #dialogue {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-family: 'Mulish';
    font-size: 36px;
}

.comic-view #dialogue > img {
    position: absolute;
    width: 1200px;
    bottom: 30px;
}

.comic-view #dialogue .speaker-container {
    position: absolute;
    top: calc(100% - 240px);
    left: 200px;
}

.comic-view #dialogue .message-container {
    position: absolute;
    top: 75%;
    left: 51.5%;
    transform: translate(-50%, -50%);
    width: 1200px;
}

.comic-view #dialogue .message-container p {
    white-space: pre-wrap;
}

.comic-view #dialogue .speaker-container span {
    display: block;
    padding: 8px 16px;
    border-radius: 16px;
}

.comic-view #dialogue.dialogue-left img {
    transform: scaleX(-1);
}

.comic-view #dialogue.dialogue-left span {
    background-color: transparent;
    text-decoration: underline;
}

.comic-view #decision {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 40px 85px;
    background-color: #2b312d;
    flex-direction: column;
}

.comic-view #decision button {
    flex: 1;
    background-color: #E3E6E7;
    border: none;
    font-family: 'Balsamiq Sans';
    font-weight: 700;
    font-size: 20px;
    padding: 16px;
    border-radius: 32px;
    margin: 8px;
}

@media screen and (min-width: 1600px) {
    .comic-view #dialogue > img {
        position: absolute;
        width: 90%;
        bottom: 30px;
    }

    .comic-view #dialogue .message-container {
        position: absolute;
        top: 80%;
        transform: translate(-50%, -50%);
    }

    .comic-view #dialogue .speaker-container {
        position: absolute;
        top: calc(100% - 300px);
        left: 250px;
        text-decoration: underline;
    }
}