body {
  font-family: 'Mulish';
  height: inherit;
  box-sizing: border-box;
  opacity: 1;
  transition-duration: 0.7s;
  transition-property: opacity;
}

body.fade {
  opacity: 0;
}

.main-container {
  display: flex;
  flex: 1;
  height: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100px;
}

.card {
  perspective: 1000px;
  flex: 1;
  height: 291px;
  width: 100%;
  background-color: transparent;
}

.bottom-cards .card {
  z-index: 0;
}

.bottom-cards .card:hover {
  z-index: 1;
}

.card-clicked .card-inner {
  transform: rotateY(180deg);
}

.card-inner {
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
}

.front-image,
.back-image {
  position: absolute;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
}

.back-image {
  transform: rotateY(180deg);
  background-color: #F7EDE1;
  height: 291px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  text-align: left;
}

.card-container {
  display: flex;
  flex-direction: column;
}

.correct-text {
  color: #185413;
}

.incorrect-text {
  color: #6C1A1A;
}

.row {
  display: flex;
  flex: 1;
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

.row img {
  flex: 1;
  height: 291px;
}

.exit-play {
  border: none;
  color: black;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 14px 16px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  text-decoration: none;
}

.hidden {
  visibility: hidden;
}

.ignore {
  opacity: 50%;
}

body {
  background-color: #FFFFFF;
}

.in-range {
  border: 1px solid red;
}

.nav-title {
  color: #FFFFFF;
  padding-left: 1rem;
  padding-top: 1rem;
  font-size: 38px;
}

h1 {
  color: white;
}

footer {
  background: #FF8E01;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2rem;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .salmon .sally-level {
    width: 100px;
    position: absolute;
    z-index: 1;
    top: 1040px;
    right: 10px;
  }

  .level-divs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #F7EDE1;
    padding: 35px;
    width: 265px;
    border-radius: 35px;
    position: relative;
    top: -7px;
  }

  .level-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #F7EDE1;
    padding: 35px;
    width: 265px;
    border-radius: 35px;
  }

  .seagull .shawn-level {
    transform: scaleX(-1);
    width: 100px;
    position: absolute;
    top: 600px;
    right: 10px;
  }

  .level-div .first-title,
  .level-divs .first-title {
    width: 100%;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: black;
    margin: 0;
    height: 40px;
  }

  .level-div .first-info,
  .level-divs .first-info {
    width: 100%;
    font-size: 14px;
    font-family: 'Mulish';
    font-style: normal;
    color: black;
    height: 80px;
  }

  .seagull {
    flex-direction: column;
  }

  .salmon {
    flex-direction: column;
  }

  .whale {
    flex-direction: column;
  }

  .preface img {
    width: 200px;
    position: relative;
    left: -30px;
    z-index: 1;
  }

  .preface div p {
    margin: 0;
    font-size: 12px;
    background-color: #F7EDE1;
    border-radius: 20px;
    padding: 35px;
    position: relative;
    width: 251px;
    left: -100px;
    top: 20px;
  }

  .user {
    display: none;
  }

  .whale .wendy-level {
    width: 202px;
    position: absolute;
    top: 1440px;
    right: -50px;
  }
}

.circle {
  display: flex;
  width: 65px;
  height: 40px;
  background-color: #012348;
  border-radius: 25%;
}

.level-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #F7EDE1;
  padding: 35px;
  width: 0px;
  border-radius: 35px;
}

.nav-play {
  background-color: #FF8E01;
}

.nav-parents {
  width: 90px;
}

.circle-text {
  margin: auto;
}

.explanation {
  display: inline;
}

.beach-area {
  background-image: url('../public/sprites/bg-beach.png');
  height: 100vh;
  overflow: hidden;
  background-size: 100% 100%;
}

.preface {
  background-color: #F2E0AA;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.preface div {
  width: 70%;
}

.preface p {
  margin: 0;
  font-size: 20px;
  background-color: #F7EDE1;
  border-radius: 20px;
  padding: 35px;
}

.play-area {
  background-image: url('../public/sprites/bg-mid-sea.png');
  height: 100vh;
  overflow: hidden;
  background-size: 100% 100%;
}

.seagull-area {
  background: none;
}

#whale-area {
  background-image: url('../public/sprites/bg-deep-sea-level.png');
}

.entering-whale {
  animation: shrink 2s;
  background-color: rgba(0, 0, 0, .1);
}

@keyframes shrink {
  from {
    clip-path: circle(125%);
    background-color: black;
  }

  to {
    clip-path: circle(0%);
    background-color: black;
  }
}

.entered-whale {
  animation: grow 2s;
  background-color: rgba(0, 0, 0, .1);
}

@keyframes grow {
  from {
    clip-path: circle(0%);
    background-color: black;
  }

  to {
    clip-path: circle(125%);
    background-color: black;
  }
}

.sprite-container,
.sprite-normal {
  animation: MoveUpDown 1.5s linear infinite;
}

.sprite-container {
  width: 100%;
}

@keyframes MoveUpDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}

.beach-area::-webkit-scrollbar {
  display: none;
}

.play-area::-webkit-scrollbar {
  display: none;
}

#guide-playable {
  position: relative;
}

#tutorial-playable {
  position: relative;
  width: 250px;
}

#playable {
  position: relative;
  width: 150px;
}

#one-playable {
  position: relative;
  width: 150px;
}

#net,
#net2,
#net3 {
  width: 250px;
}

:focus {
  outline: none
}

.fill-content>div>#dialogue>.vn-decision {
  display: flex;
  padding: 40px 85px;
  flex-direction: column;
  width: 30%;
  height: 40%;
  position: absolute;
  bottom: 40%;
  background: none;
}

.fill-content>div>#dialogue>.vn-decision>.choiceButton {
  background-color: #E3E6E7;
  border: none;
  font-size: 20px;
  padding: 16px;
  border-radius: 8px;
  margin: 10px;
}

.net-counter {
  position: absolute;
  right: 0px;
  width: 175px;
  height: 50px;
  font-size: 1.2em;
  /* text-align: center; */
  display: inline-flex;
  align-items: center;
}

.net-counter:nth-child(2) {
  position: absolute;
  right: 200px;
  width: 175px;
  height: 50px;
  font-size: 1.2em;
  /* text-align: center; */
  display: inline-flex;
  align-items: center;
}

.about-us {
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  background-color: #1E7FA4;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 9px;
  padding-right: 2px;
  font-family: Mulish, Arial;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 25px;
  display: flex;
}

.info-section {
  height: 80%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 1px;
  display: flex;
}

.the-goal {
  font-size: 3rem;
  line-height: 60px;
  margin-left: 1rem;

}

.marine-rescue {
  font-size: 1.25rem;
}

.wendy-whale {
  width: 350px;
  height: 162px;
  object-fit: cover;
  background-position: center;
  background-size: 100% 100%;
  margin-bottom: 4px;
  margin-left: 23px;
}

.about-team {
  color: #000;
  width: 100%;
  height: 100%;
  background-color: #85C9E3;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  padding-top: 11px;
  padding-left: 20px;
  padding-right: 11px;
  font-family: 'Mulish', Arial;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 60px;
  display: flex;
}

.flap-team {
  margin-top: 1px;
  margin-left: 3px;
  font-size: 3rem;
}

.four-members {
  margin-bottom: 16px;
  margin-left: 1px;
  font-size: 1.25rem;
  line-height: 25px;
}

.profile-group {
  color: #000;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 37px;
  padding-left: 20px;
  font-family: 'Mulish', Arial;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 45px;
  display: flex;
  ;
}

.profile-center {
  margin-top: 2px;
  margin-bottom: 7px;
  font-size: 1.25rem;
  line-height: 25px;
  text-align: center;
}


.profile-role {
  margin-top: 2px;
  margin-bottom: 7px;
  font-size: 1.25rem;
  line-height: 25px;
  width: 100%;
  float: left;
  text-align: center;
}

.profile-name {
  margin-bottom: 1px;
  font-size: 2.25rem;
  line-height: 45px;
  text-align: center;
}


.ack-section {
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  background-color: #1E7FA4;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  padding-left: 20px;
  font-family: 'Mulish', Arial;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 60px;
  display: flex;
}

.remove-area {
  background-image: url('../public/sprites/bg-beach-level.png');
  height: 100vh;
  overflow: hidden;
  background-size: 100% 100%;
}

.modal-content2 {
  background-color: #F7EDE1;
  border: 0px solid #000000;
}

.removebtn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 24px;
  gap: 10px;
  width: 295px;
  height: 73px;
  background: #6C1A1A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: white;
  border: none;
}

.ignorebtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  padding: 16px 24px;
  gap: 10px;
  width: 290px;
  height: 73px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: black;
  border: none;
}

.text-success {
  font-family: 'Mulish';
}

.text-success .explanation-text {
  color: black;
}

.modal-containers {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 36px;

  position: absolute;
  width: 1220px;
  height: 485px;
  left: -230px;
  top: -285px;
  background: #F7EDE1;
  border: 10px solid #000000;
}

.removeTitle {
  width: 555px;
  height: 125px;
  color: black;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.trash {
  position: relative;
  width: 100.25px;
  height: 89.7px;
}

.pancake {
  position: absolute;
  width: 185px;
  height: 112.59px;
  right: 905px;
  top: 80px;
  z-index: 2;
}

.pancake-home {
  width: 185px;
  height: 112.59px;
  right: 905px;
  top: 80px;
  z-index: 2;
}

.post {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 41px;
}

.next {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-color: #f8f9fa00;
  position: relative;
  width: 100px;
  height: 50px;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  top: 195px;
  left: 25px;
  font-family: 'Mulish';
  font-style: normal;
  font-size: 25px;

}

.last-section {
  margin-top: 5px;
  margin-left: 1px;
  font-size: 3rem;
}

.shout-out {
  align-self: center;
  margin-bottom: 6px;
  line-height: 25px;
}

.foot-section {
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  background-color: #1E7FA4;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 4px;
  padding-left: 29px;
  padding-right: 27px;
  font-family: Mulish, Arial;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 25px;
  display: flex;
}

.foot-title {
  height: 55%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1px;
  margin-left: 1px;
  display: flex;
}

.github-logo {
  size: 0cap;
  width: 24px;
  height: 12px;
  object-fit: cover;
}

.i-school {
  width: 238px;
  height: 45px;
  object-fit: cover;
  background-position: center;
  background-size: 100% 100%;
  margin-bottom: 2px;
}

.parent-what-is-section {
  background-color: #1E7FA4;
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
  font-family: Mulish, Arial;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 25px;
  display: flex;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.what-content-height {
  height: 371px;
}

.questionImage {
  /* height: auto !important; */
  flex: none !important;
  height: 150px !important;
  width: 200px !important;
}

.content-height {
  height: 500px;
}

.parent-what-learn-section {
  color: #000;
  width: 100%;
  height: 100%;
  background-color: #85C9E3;
  font-family: 'Mulish', Arial;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 60px;
  display: flex;
}

.modal-title {
  color: #134254;
  font-weight: 400;
  font-size: 32px !important;
  font-style: normal;
}

.modal-content {
  background-color: #F7EDE1;
  border: 10px solid #000000;
}

.modal-video-content textarea {
  margin-top: 1.3rem;
  padding: 20px;
  height: 300px;
}

.modal-video-content.modal-input,
.modal-video-content.video {
  width: auto;
}

.pancake.modal-instruction {
  right: 75%;
  top: 20%;
}

.modal-video-content iframe {
  height: 500px;
}

.modal-buttons {
  margin-bottom: 1.3rem;
  margin-top: 1.3rem;
  display: flex;
  justify-content: flex-end;
}

.pancake-modal {
  position: absolute;
  top: 25%;
  left: 27%;
  /* right: 50%; */
  /* margin-left: 25%;  */
}


.talk {
  position: absolute;
  width: 609px;
  height: 94px;
  left: 225px;
  top: 246px;
  z-index: 10;

  /* Heading 4 */

  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;

  color: #000000;
}

.speech {
  position: absolute;
  width: 694px;
  height: 159px;
  left: 181px;
  top: 210px;
  z-index: 10;
}

.excel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 6px;

  position: absolute;
  width: 17px;
  height: 84.52px;
  left: 378px;
  top: 441px;
}

.bubble {
  position: absolute;
  width: 62px;
  height: 271px;
  left: 480px;
  top: 260px;
  z-index: 9;

  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.flapjack-guide {
  position: absolute;
  width: 130px;
  left: 750px;
  top: 380px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.user-placeholder {
  position: absolute;
  height: 312px;
  left: 878px;
  top: 276.71px;
  transform: rotate(-8.52deg);
}

.play-area #seagull-guide {
  position: absolute;
  z-index: 1;
  width: 150px;
  left: 250px;
  top: 513px;
  transform: scaleX(-1);
}

.play-area #transition {
  position: absolute;
  z-index: 1;
  width: 209px;
  left: 250px;
  top: 513px;
  transform: scaleX(-1);
}

.about-parent {
  color: #000;
  width: 100%;
  background-color: #85C9E3;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  padding-top: 11px;
  padding-left: 20px;
  padding-right: 11px;
  font-family: 'Mulish', Arial;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 60px;
  display: flex;
}

.modal-container {
  padding-top: 16px;
  padding-left: 17px;
  padding-right: 17px;
}

.modal-body {
  font-weight: 400;
  font-size: 25px !important;
  font-style: normal;
  padding-bottom: 0;
}

.modal-continue {
  border: 0;
}

.modal-video-content.modal-quiz {
  width: 720px;
}

.modal-video-content {
  margin-bottom: 50px;
  width: 900px;
  margin: auto;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: underline;
}

.keyword {
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  width: 400px;
  left: 0;
  margin-left: -90px;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.keyword div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.keyword h4 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
}

.keyword p {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: left;
  margin-left: 20px;
}

.popup .keyword::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
  text-decoration: none;
}

.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.mt-5 {
  width: inherit;
}

.resource-page {
  color: #FFFFFF;
  background-color: #1E7FA4;
  padding-right: 500px;
}

.shawn-level {
  transform: scaleX(-1);
  width: 250px;
}

.sally-level {
  width: 300px;
  transform: scaleX(-1);
}

.wendy-level {
  width: 500px;
}

.link-buttons {
  color: #000000;
  background-color: #85C9E3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  left: 1660px;
  top: 645px;
}

.link-button {
  color: #000000;
  background-color: #85C9E3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.first-title {
  width: 1270px;
  height: 80px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  color: black;
  margin: 0;
}

.first-info {
  width: 880px;
  height: 50px;
  font-size: 20px;
  font-family: 'Mulish';
  font-style: normal;
  color: black;
}

.seagull {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 40px;
  gap: 600px;
  height: 434px;
  width: 100%;
  background-image: url("../public/imgs/firstlvl.png");
  background-size: 100% 100%;
}

.salmon {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 40px;
  gap: 600px;
  height: 417px;
  width: 100%;
  background-image: url("../public/imgs/secondlevel.png");
}

.whale {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  gap: 365px;
  height: 380px;
  width: 100%;
}

.sal-level {
  height: 124px;
  left: 328px;
  position: absolute;
  top: 525px;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 209px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.second-title {
  width: 1270px;
  height: 80px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  position: absolute;
  left: 1645px;
  top: 485px;
}

.second-info {
  width: 880px;
  height: 50px;
  font-size: 20px;
  font-family: 'Mulish';
  font-style: normal;
  color: white;
  position: absolute;
  left: 1650px;
  top: 575px;
}

.third-title {
  width: 2000px;
  height: 85px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.third-info {
  width: 880px;
  height: 50px;
  font-size: 20px;
  font-family: 'Mulish';
  font-style: normal;
  color: white;
}

.shaw-level {
  position: absolute;
  top: 115px;
  right: 405px;
}

.wen-level {
  position: absolute;
  top: 797px;
  left: 1550px;
  width: 600px;
  height: 285px;
}

.level-three {
  background-image: url("../public/imgs/thirdlevel.png");
}

.shawn-seagull {
  position: absolute;
  width: 200px;
  height: 160px;
  right: 395px;
  top: 745px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}


.shawn-two {
  position: absolute;
  width: 200px;
  height: 160px;
  right: 210px;
  top: 990px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.excel-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 6px;
  position: absolute;
  width: 17px;
  height: 84.52px;
  right: 540px;
  top: 640px;
}


.secondflap-guide {
  position: absolute;
  width: 190px;
  height: 170px;
  left: 530px;
  top: 670px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.speech-two {
  position: absolute;
  width: 694px;
  height: 159px;
  left: 30px;
  top: 494px;
  z-index: 10;
}

.talk-two {
  position: absolute;
  width: 609px;
  height: 94px;
  left: 81px;
  top: 528px;
  z-index: 10;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: #000000;
}